.about {
  background: linear-gradient(90deg, #14c0f3 0%, #0086cc 100%);
}

.about__inner {
  padding: 70px 0;
}

.about__title {
  max-width: 520px;
  margin: 0 auto;

  text-align: center;
  color: #ffffff;

  span {
    display: block;
  }
}

.about__box {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
}

.about__item-title {
  max-width: 238px;
  min-height: 42px;

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.about__item-subtitle {
  max-width: 250px;
  min-height: 80px;
  margin-top: 15px;

  font-size: 14px;
  line-height: 20px;
}

.about__item-cirle {
  position: absolute;
  top: -40px;
  left: 50%;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;

  border-radius: 50%;
  transform: translateX(-50%);
}

.about__item {
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  min-height: 250px;
  padding-bottom: 25px;
  padding-top: 86px;
  overflow: hidden;

  text-align: center;

  border-radius: 8px;
  box-shadow: 0 8px 18px -6px rgba(24, 39, 75, 0.12),
    0 12px 42px -4px rgba(24, 39, 75, 0.12);

  &::before {
    content: "";
    position: absolute;
    bottom: 83%;
    z-index: -1;

    width: 123px;
    height: 123px;

    border-radius: 100%;
    box-shadow: 0 300px 0 300px #ffffff;
  }
}

.about__box-item {
  position: relative;
  width: 24%;
}
