.atmosfera {
  padding: 100px 0;
}

.atmosfera__item + .atmosfera__item {
  padding-right: 5px;
}

.atmosfera__wrapp-fst {
  max-width: 455px;
}

.atmosfera__fst {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.atmosfera__fst-top {
  margin-bottom: 5px;
  height: 160px;
  display: flex;
  justify-content: space-between;
}

.atmosfera__top-image {
  width: 225px;
}

.atmosfera__fst-bot {
  height: 300px;
}

.atmosfera__wrapp-sec {
  max-width: 330px;
}

.atmosfera__sec {
  & + & {
    margin-top: 5px;
  }
}

.atmosfera__sec-image {
  height: 230px;
}

.atmosfera__sec-img {
  object-fit: cover;
  border-radius: 15px 0 0 16px;
}

.atmosfera__trd {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;

  .atmosfera__fst-top {
    margin-bottom: 0;
    margin-top: 5px;
  }
}

