.brain__inner {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brain__title {
  max-width: 656px;
  text-align: center;
}

.brain__info {
  margin-top: 50px;
}

.brain__info-wrapp {
  min-width: 1290px;
  height: 456px;
}

.brain__info-img {
  object-fit: cover;
}
