.caligrafica {
  background-color: #f3f7fc;
}

.caligrafica__inner {
  padding: 50px 0 100px;
}

.caligrafica__block {
  padding-top: 31px;
  padding-bottom: 0;
}

.caligrafica__block-left {
  padding-top: 9px;
}
