.cresti {
  height: 796px;
  background-image: url(../img/background/cresti-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cresti__inner {
  padding-top: 40px;
}

.cresti__number {
  background: linear-gradient(279.05deg, #fbc250 0%, #ffe547 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cresti__subtitle {
  color: #ffffff;
}

.cresti__info {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.cresti__video {
  max-width: 694px;
  width: 100%;
  height: 475px;
  box-shadow: 0 4px 70px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/background/video-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
}

.cresti__video-img {
  padding: 5px;
}

.cresti__details-title {
  font-family: "SquareSans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.cresti__lists {
  margin-top: 40px;
}

.cresti__list + .cresti__list {
  margin-top: 30px;
}

.cresti__list-item {
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
  color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;

  & + & {
    margin-top: 30px;
  }

  svg {
    margin-right: 30px;
  }
}

.cresti__btn {
  margin-top: 25px;
  height: 56px;
  max-width: 416px;
  width: 100%;
  background: linear-gradient(279.05deg, #fbc250 0%, #ffe547 100%);
  box-shadow: 0 4px 20px rgba(0, 104, 255, 0.2);
  border-radius: 30px 0 30px 30px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #072734;
  text-transform: uppercase;
}
