.galerie {
  background-color: #f3f7fc;
}

.galerie__inner {
  padding-top: 50px;
}

.galerie__wrapp {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
}

.galerie__tabs {
  margin-top: 23px;
}

.galerie__content {
  max-width: 960px;
  width: 100%;
}

.galerie__content-inner {
  // height: 897px;
  margin-bottom: 40px;
}

.galerie__triggers {
  .tabs__triggers-item {
    &:first-child {
      max-width: 141px;
    }

    &:nth-child(2) {
      max-width: 122px;
    }

    &:last-child {
      max-width: 211px;
    }
  }
}

.galerie__fancybox {
  margin-bottom: 40px;
}

.galerie__item-1 {
  max-width: 410px;
  max-height: 279px;
}

.galerie__item-2 {
  max-width: 520px;
  max-height: 376px;
}

.galerie__item-3 {
  max-width: 520px;
  max-height: 491px;
}

.galerie__grid-img {
  object-fit: cover;
  object-position: bottom;
  max-height: 782px;
  max-width: 1052px;
}

