.galerie {
  background-color: #f3f7fc;
}

.galerie__inner {
  padding-top: 50px;
}

.galerie__wrapp {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
}

.galerie__tabs {
  margin-top: 23px;
}

.galerie__content {
  width: 100%;
  max-width: 960px;
}

.galerie__content-inner {
  // height: 897px;
  margin-bottom: 40px;
}

.galerie__triggers {
  .tabs__triggers-item {
    &:first-child {
      max-width: 141px;
    }

    &:nth-child(2) {
      max-width: 122px;
    }

    &:last-child {
      max-width: 211px;
    }
  }
}

.galerie__fancybox {
  margin-bottom: 40px;
}

.galerie__item-1 {
  max-width: 410px;
  max-height: 279px;
}

.galerie__item-2 {
  max-width: 520px;
  max-height: 376px;
}

.galerie__item-3 {
  max-width: 520px;
  max-height: 491px;
}

.galerie__grid-img {
  max-width: 1052px;
  max-height: 782px;

  object-fit: cover;
  object-position: bottom;
}

.galerie__lightgallery {
  display: grid;

  grid-auto-flow: dense;
  grid-gap: 30px;
  grid-template-columns: 35% 65%;

  a {
    position: relative;

    transition: all 0.5s ease;

    &::before {
      content: "";
      position: absolute;
      z-index: 2;

      opacity: 0;

      transition: all 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1;

      opacity: 0;

      transition: all 0.3s;
    }
  }

  a:hover {
    &::before {
      top: 50%;
      left: 50%;

      width: 56px;
      height: 56px;

      background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='28' cy='28' r='28' fill='%23fff' fill-opacity='.3'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.4 31.6l6.7 6.7a1.3 1.3 0 01-1.8 1.8l-6.7-6.7a10 10 0 111.8-1.8zM25.5 33a7.5 7.5 0 100-15 7.5 7.5 0 000 15zm3.8-6.3h-2.5v2.6a1.3 1.3 0 01-2.5 0v-2.6h-2.5a1.3 1.3 0 010-2.4h2.5v-2.6a1.3 1.3 0 012.5 0v2.6h2.5a1.2 1.2 0 110 2.4z' fill='%23fff'/%3E%3C/svg%3E");
      background-size: cover;
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    &::after {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-color: rgba(0, 0, 0, 0.3);
      opacity: 1;
    }
  }
}
