.map {
  background-color: #f3f7fc;
}

.map__inner {
  padding-top: 100px;
}

.map__image {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 1510px;
  width: 100%;
  max-height: 487px;
  border-radius: 16px;
  background-color: transparent;
}
